<div class="center hero-unit">
  <h1>Sample App</h1>
  <p>This is the home page of sample application</p>

  <%= link_to 'Sign up', signup_path, :class => "btn btn-large btn-primary"  %>
</div>

<%= link_to image_tag('rails.png', alt: 'Rails'), 'http://rubyonrails.org/' %>
